{% extends 'base.html' %}

{% load static %}
{% load tags %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <!-- Product Section Begin -->
    <section class="product-page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="product__page__content">
                        <div class="product__page__title">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-6">
                                    <div class="section-title">
                                        <h4>{{ title }}</h4>
                                    </div>
                                </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                            <div class="product__page__filter">
                                                <p>Сортировать по:</p>
                                                <select class='select form-select'>
                                                    <option selected disabled value=''>---</option>
                                                    <option {% if sort_by == 'date_aired' %} selected {% endif %} value="?sort_by=date_aired">Дате добавления</option>
                                                    <option {% if sort_by == 'views' %} selected {% endif %} value="?sort_by=views">Просмотрам</option>
                                                </select>
                                            </div>
                                    </div>
                            </div>
                        </div>

                        <div class="row">
                            {% for a in anime %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="{{ a.cover.url }}">
                                        <div class="ep">{{ a.anime_series.count }} / 18</div>
                                        <div class="comment"><i class="fa fa-comments"></i> {{ a.comment_anime.count }}</div>
                                        <div class="view"><i class="fa fa-eye"></i> {{ a.views }}</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            {% for g in a.genre.all %}
                                            <a href='{{ g.get_absolute_url }}'><li>{{ g.genre_name }}</li></a>
                                            {% endfor %}
                                        </ul>
                                        <h5><a href="{{ a.get_absolute_url }}">{{ a.title }}</a></h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="product__pagination">
                        <a href="#" class="current-page">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#"><i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="product__sidebar">
                        <div class="product__sidebar__view">
                            <div class="section-title">
                                <h5>Top Views</h5>
                            </div>
                            <ul class="filter__controls">
                                <li class="active" data-filter="*">Day</li>
                                <li data-filter=".week">Week</li>
                                <li data-filter=".month">Month</li>
                                <li data-filter=".years">Years</li>
                            </ul>
                            <div class="filter__gallery">
                                <div class="product__sidebar__view__item set-bg mix day years"
                                data-setbg="img/sidebar/tv-1.jpg">
                                <div class="ep">18 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                <h5><a href="#">Boruto: Naruto next generations</a></h5>
                            </div>
                            <div class="product__sidebar__view__item set-bg mix month week"
                            data-setbg="img/sidebar/tv-2.jpg">
                            <div class="ep">18 / ?</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                            <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                        </div>
                        <div class="product__sidebar__view__item set-bg mix week years"
                        data-setbg="img/sidebar/tv-3.jpg">
                        <div class="ep">18 / ?</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        <h5><a href="#">Sword art online alicization war of underworld</a></h5>
                    </div>
                    <div class="product__sidebar__view__item set-bg mix years month"
                    data-setbg="img/sidebar/tv-4.jpg">
                    <div class="ep">18 / ?</div>
                    <div class="view"><i class="fa fa-eye"></i> 9141</div>
                    <h5><a href="#">Fate/stay night: Heaven's Feel I. presage flower</a></h5>
                </div>
                <div class="product__sidebar__view__item set-bg mix day"
                data-setbg="img/sidebar/tv-5.jpg">
                <div class="ep">18 / ?</div>
                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                <h5><a href="#">Fate stay night unlimited blade works</a></h5>
            </div>
        </div>
    </div>
    <div class="product__sidebar__comment">
        <div class="section-title">
            <h5>Новые комментарии</h5>
        </div>
        {% tag_new_comments as new_comments %}
        {% for comment in new_comments %}
        <div class="product__sidebar__comment__item">
            <div class="product__sidebar__comment__item__pic">
                <a href="{{ comment.anime.get_absolute_url }}"><img src="{{ comment.anime.cover.url }}" width="100px" alt=""></a>
            </div>
            <div class="product__sidebar__comment__item__text">
                <div style="display: flex;">
                    {% if comment.user.profile_pic %}
                        <a href="{{ comment.user.get_absolute_url }}"><img style="border-radius: 20px;" src="{{ comment.user.profile_pic.url }}" width="40px" height="40px" alt=""></a>
                    {% else %}
                        <a href="{{ comment.user.get_absolute_url }}"><img style="border-radius: 20px;" src="{% static 'img/no_avatar.png' %}" width="40px" height="40px" alt=""></a>
                    {% endif %}
                </div>
                <h5><a href="{{ comment.anime.get_absolute_url }}">{{ comment.comment_text|truncatechars:50 }}</a></h5>
                <a href="{{ comment.user.get_absolute_url }}"><span>{{ comment.user.username }}</span></a>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
</div>
</div>
</div>
</section>
<!-- Product Section End -->
{% endblock %}